<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--0.声明文件类型为mybatis mapper-->
<!--1.定义mapper(映射)文件和Dao接口的对应关系-->
<mapper namespace="tech.rpish.mall.dao.UserDao">
    <!--    2.配置实体类属性和表结构的对应关系-->
    <resultMap type="tech.rpish.mall.entity.User" id="UserResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>
    <!--    3.按照对应Dao接口对应方法,编写SQL语句-->
    <select id="findAllUsers" resultMap="UserResult">
        select id, name, password
        from tb_user
        order by id desc
    </select>

    <insert id="insertUser" parameterType="tech.rpish.mall.entity.User">
        insert into tb_user(name, password)
        values (#{name}, #{password})
    </insert>

    <update id="updateUser" parameterType="tech.rpish.mall.entity.User">
        update tb_user
        set name=#{name},
            password=#{password}
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete
        from tb_user
        where id = #{id}
    </delete>
</mapper>
